@font-face {
    font-family: 'Poppins';
    src: url('./../../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

:root {
    --menu-padding: 16px;
    --menu-gap: 12px;
    --ligh-gray: #cecece;
    --white: #fff;
    --primary: royalblue;
    --transition: all .3s ease-in;
    --radius: 6px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    overflow: hidden;
}

.logo-text {
    /* flex: .5; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    min-width: 45px;
    min-height: 45px;
    font-weight: bold;
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
    border-radius: var(--radius);
}

.app-description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: end; */
    font-size: 10pt;
}

.app-description p,
.app-description b {
    height: 11pt;
    /* background-color: #000; */
}

button {
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
}

body {
    background-color: var(--ligh-gray);
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    transition: var(--transition);
}

.side-menu {
    position: relative;
    padding: 24px var(--menu-padding);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
    transition: var(--transition);
    width: 240px;
}

.side-menu-compact {
    justify-content: start;
    align-items: flex-start;
    position: relative;
    padding: 24px var(--menu-padding);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
    transition: var(--transition);
    width: 78px;
    .menu-buttons button {
        position: relative;
        flex-direction: row;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        min-width: 45px;
        height: 45px;
    }
    .menu-buttons button i {
        transform: translateX(2.6px);
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
    transition: var(--transition);
    /* background-color: #000; */
}

.menu-buttons button {
    /* display: flex;
    flex-direction: row;
    justify-content: start; */
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    overflow: hidden;
    height: 45px;
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    text-align: left;
    transition: var(--transition);
    border-radius: var(--radius);
    background-color: var(--white);
}

.menu-buttons button:hover {
    background-color: var(--ligh-gray);
}

.menu-buttons button span {
    /* margin-top: 2.5px; */
    font-size: 13.5px;
    /* background-color: #000; */
    font-family: 'Poppins';
}

/* .menu-buttons button i {
    z-index: 10;
    background-color: var(--primary);
} */

.toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    border: solid 2px var(--white);
    position: absolute;
    right: 0;
    transform: translate(50%,6px);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: var(--transition);
}

.selected,
.selected:hover {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}
.hidden {
    display: none !important;
}



/* 

PAGES STYLES

*/

.page {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.proffile {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 100%;
    border: 2px solid var(--primary);
    display: grid;
    place-items: center;
}

.proffile i {
    font-size: 12pt;
    color: var(--primary);
    transform: translateY(-1.5px);
}

.task {
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    padding: var(--menu-padding);
    border-radius: var(--radius);
    gap: 8px;
}

.task-description {
    width: 100%;
    /* background: red; */
    font-size: 11pt;
    /* white-space: normal; */
    text-align: justify;
}

.task-actions {
    display: flex;
    gap: 8px;
}

.task-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
}

.edit {
    background-color: orange;
}

.complete {
    background-color: green;
}

.delete {
    background-color: red;
}

.tasks-container {
    gap: 12px;
    /* background-color: #000; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}